@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-color: #111111;
    --secondary-color: #F6F6F6;
    --accent-color: #FFD700;
    --accent-color-hover: #ffc600;
    --ff: 'Poppins';
    --H1: bold  53.75px var(--ff);
    --H2: bold 39.81px var(--ff);
    --H3: bold 33.18px var(--ff);
    --H4: bold 21.6px var(--ff);
    --H5: bold 20px var(--ff);
    --P: 18px var(--ff);
    --h1: bold  37.32px var(--ff);
    --h2: bold 31.1px var(--ff);
    --h3: bold 25.92px var(--ff);
    --p: 16px var(--ff);
    --small:  15px var(--ff);
    --transition: 0.3s ease-in-out;
}
h1 {font: var(--H1);}
h2 {font: var(--H2);}
h3 {font: var(--H3);}
p {font: var(--P);}
a {font: var(--P);}
h4 {font: var(--H4);}
h5 {font: var(--H5);}
small {font: var(--small);}
label {font: var(--P);}

* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p small {
    margin: 0;
}

body {
    font-family: var(--ff);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 64px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--primary-color);
    z-index: 1000;
}
header h3 {
    color: var(--accent-color);
}
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-color);
    font: var(--p);
}
a:hover {
    color: var(--accent-color);
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
ul{
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    gap: 32px;
    list-style: none;
    padding: 0;
}
ul .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.50);
    border-radius: 12px;
    list-style: none;
    z-index: 2;
}
ul li {
    position: relative;
}
ul .dropdown li {
    width: 200px;
}

ul .dropdown li a {
    display: block;
    padding: 10px 20px;
    border-radius: 12px;
    color: var(--secondary-color);
}

ul .dropdown li a:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

ul li:hover .dropdown {
    display: block;
}
header button {
    padding: 12px 20px;
    border: none;
    background: var(--accent-color);
    margin-left: auto;
    white-space: nowrap;
}
button {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    background: var(--accent-color);
    margin-left: auto;
    white-space: nowrap;
}

button:hover {
    background: var(--accent-color-hover);
}
button a {
    color: var(--primary-color);
}
button a:hover {
    color: var(--primary-color);
}
.toggle-button {
    display: none;
    cursor: pointer;
    flex-direction: column;
}
.toggle-button .bar {
    background-color: var(--primary-color);
}
.bar {
    display: block;
    width: 24px;
    height: 3px;
    margin: 5px auto;
    transition: var(--transition);
}

/* Ensure that the nav is hidden on smaller screens */
@media (max-width: 768px){
    nav{
        display:  none;
        flex-direction: column;
        width: 100%;
        background-color: var(--secondary-color);
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px;
        z-index: 1;
    }
    nav.show {
        display: flex;
        justify-content: center;
    }
    ul {
        flex-direction: column;
    }

    header button {
        margin-left: unset;
    }
    .toggle-button {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 24px;
    }
    header {
        padding: 0 24px;
    }
    .bar {
        width: 24px;
        height: 3px;
        background-color: var(--secondary-color);
        margin: 5px 0;
        transition: 0.3s;
    }

    .toggle-button.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .toggle-button.active .bar:nth-child(2) {
        opacity: 0;
    }

    .toggle-button.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Ensure dropdowns open on click/touch in small screens */
    ul .dropdown {
        display: none;
    }

    ul li:hover .dropdown {
        display: none;
    }

    ul li.active .dropdown {
        display: block;
    }
}
main {
    margin-top: 40px;
    width: 100vw;
}
.section {
    display: flex;
    padding: 112px 64px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.contact-form {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container {
    flex: 1;
}
.container-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    flex-wrap: nowrap;
}
.container-form,
.container img {
    flex: 1;
    margin: 0;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
input {
    align-self: stretch;
    height: 48px;
    padding: 12px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}
textarea {
    height: 180px;
    padding: 12px;
    align-items: flex-start;
    align-self: stretch;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

input, textarea {
    font: var(--p);
}
select {
    align-self: stretch;
    height: 48px;
    padding: 12px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}
option {
    font: var(--P);
}
.container img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}
.section button {
    margin-left: unset;
    font: var(--p);
}

.footer {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.footer h2 {
    color: var(--accent-color);
}
.footer a {
    color: var(--secondary-color);
}
.footer a:hover {
    color: var(--accent-color);
}
.social-links {
    display: flex;
    gap: 16px;
}
@media (max-width:768px) {
    .container img {
        display: none;
    }
    .container {
        flex: unset;
    }
    .contact-info-body {
        flex-direction: column;
    }
    .section {
        padding: 64px 24px;
    }
}