 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Poppins;
    font-size: 12px;
}

:root {
    --primary-color: #fee402;
    --secondary-color: #fdca00;
    --background-color: #fffed5;
    --text-color: #fffed5;
    --link-color: #fffed5;
    --link-hover-color: #fdca00;
    --navbar-bg-color: rgba(255, 255, 255, 0.2);
    --navbar-shadow-color: #0004;
    --action-btn-bg-color: #1c1c1c;
    --action-btn-text-color: #fff;
    --action-btn-hover-color: #fff;
    --head-title-color: #fee402;
    --carousel-title-color: #fff;
    --carousel-pos-color: #e61e1e;
    --thumbnail-content-color: #fff;
    --arrow-bg-color: #eee;
    --arrow-text-color: #fff;
    --time-color: #fcda00;
    --dark-color: #111111;
}

/*Navigation bar*/

header {
    padding: 0 2rem;
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}

header a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    text-shadow: 0 5px 10px #0004;
}

header a:hover {
    color: var(--link-hover-color);
}
.navbar {
    width: max-content;
    height: 45px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: var(--action-btn-bg-color);
    backdrop-filter: blur(40px);
}
.navbar li {
    list-style: none;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 5px 10px #0004;
}


.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar a {
    margin-right: 40px;
}
.toggle_btn {
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}


.action_btn {
    background-color: var(--secondary-color);
    color: var(--action-btn-bg-color);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    text-shadow: none;
    box-shadow: 0 5px 10px #0004;
    width: max-content;
}

.action_btn:hover {
    scale: 1.05;
    color: var(--action-btn-bg-color);
}

.action_btn:active {
    scale: 0.95;
}
/* DROPDOWN MENU */
.dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 250px;
    height: 0;
    background-color: var(--dark-color);
    color: var(--text-color);
    border-radius: 10px;
    overflow: hidden;
    transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
    z-index: 3;
}

.dropdown-menu.open {
    height: 240px;
}

.dropdown-menu li {
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}


/*Somi foundation head*/
.head {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 0 10px;
}

.head .title {
    width: 100%;
    font-size: 6em;
    font-weight: 700;
    color: var(--head-title-color);
    letter-spacing: 10px;
    text-shadow: 0 5px 10px #0004;
}
.head .slogan {
    color: var(--text-color);
    margin-top: -10px;
    font-size: 3em;
    font-weight: 600;
    text-shadow: 0 5px 10px #0004;
}

/* carousel */
.carousel{
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 50%;
    width: 1140px;
    max-width: 80%;
    left: 45%;
    transform: translateX(-50%);
    padding-right: 35%;
    box-sizing: border-box;
    color: var(--text-color);
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .content .des {
    font-size: 1.5em;
}

.carousel .list .item .title{
    font-weight: bold;
    letter-spacing: 10px;

}
.carousel .list .item .title,
.carousel .list .item .pos{
    font-size: 2em;
    font-weight: bold;
    line-height: 1.3em;
}
.carousel .list .item .pos{
    color: var(--secondary-color);
}
.carousel .list .item .buttons{
    margin-top: 10px;
}

.carousel .list .item .buttons button{
    border: none;
    border-radius: 20px;
    color: var(--text-color);
    background-color: var(--action-btn-bg-color);
    letter-spacing: 3px;
    padding: 10px;
    cursor: pointer;
    font-family: Poppins;
    font-weight: 500;
    box-shadow: 0 5px 10px #0004;
}

/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    color: var(--text-color);
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
}
.thumbnail .item .content .description{
    font-weight: 300;
}
/* arrows */
.arrows{
    position: absolute;
    top: 90%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: var(--text-color);
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: var(--text-color);
    color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
    z-index: 1;
}

.head .title,
.head .slogan {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showTitle 1s 1s linear 1 forwards;
}

@keyframes showTitle{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.head .slogan{
    animation-delay: 1.2s!important;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .pos,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .pos{
    animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
    animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: var(--head-title-color);
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .pos,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
/* @media screen and (max-width: 768px) {
    .carousel .list .item .content{
        top: 40%;
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 20px;
        letter-spacing: 0;
    }
    .carousel .list .item .content .pos{
        font-size: 16px;
    }
    .carousel .list .item .content .des {
        padding-right: 0px;
    }
    .head {
        top: 15%;
    }
    .head .title{
        font-size: 3em;
        letter-spacing: 0;
        margin-bottom: 20px;
    }
    .head .slogan{
        font-size: 2em;
    }
    .carousel .list .item .buttons button {
        letter-spacing: 1px;
    }
    .arrows {
        top: 80%;
        left: 15%;
    }
} */

/* @media only screen and (max-width: 600px) {
    body {
        font-size: 10px;
    }

    header a {
        font-size: 0.9rem;
    }

    .container {
        padding: 10px;
    }

    .timeline {
        flex-direction: column;
    }

    .timeline-item {
        width: 100%;
    }
} */
/* RESPONSIVE DESIGN */
@media (max-width: 600px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .toggle_btn {
        display: block;
    }
    .dropdown-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .head .title{
        font-size: 4em;
        letter-spacing: 0;
    }
    .head .slogan{
        font-size: 2em;
    }
    .carousel .list .item .content{
        /* white-space: normal;
        word-break: normal; */
        margin-top: 120px;
    }
    .carousel .list .item .title{
        letter-spacing: 0;
    }
    .carousel .list .item .title,
    .carousel .list .item .pos{
        font-size: 1.7em;
        font-weight: bold;
    }
    .carousel .list .item .content .des {
        font-size: 1.2em;
    }
    .thumbnail .item{
        width: 100px;
        height: 160px;
    }
    .carousel .list .item .buttons button{
        padding: 6px;
        letter-spacing: 0;
        font-weight: 400;
    }
    .arrows button{
        width: 30px;
        height: 30px;
    }
}


/* Founder -
Somi foundation -
Their work
The team
I need good images which have a nice width*/